---
layout: default
---

<section class="hero is-primary is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Alle Zusammenfassungen</h1>
      <h2 class="subtitle">{{ content }}</h2>
    </div>
  </div>

  <!-- <h1>Alle Zusammenfassungen</h1>
  
  {{ content }}

  {% for semester in site.semester %}
    <p>
      <h3>{{ semester }}</h3>
      <ul class="semester">
      {% for page in site.pages %}
        {% if page.semester == semester %}
          <li><a href="{{page.url | relative_url }}">{{ page.title | escape }}</a></li>
        {% endif %}
      {% endfor %}
      </ul>
    </p>
  {% endfor %} -->
</section>
