body {
	font-family: $base-font-family;
	// font-size: 2.5vw;
	
	line-height: $base-line-height;
	text-rendering: optimizeLegibility;
	font-feature-settings: 'kern' 1;
	font-feature-settings: 'liga' 1;

	color: $text-color;
	background-color: $background-color;
}

@media all { html { font-size: 2.5vw; } }
@media all and (min-width: 1000px) { html { font-size: 24px; } }
@media all and (max-width: 620px) { html { font-size: 18px;} }

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	margin: 0 0 $space-unit/2 0; 
	padding: 0;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.6rem; }
h3 { font-size: 1.4rem; }

p {
	margin: 0 0 $space-unit/2 0;
}

a {
	text-decoration: none;
	color: $link-color;
	transition: background 0.2s;
	padding: 0 3px;
	border-radius: 2px;

	&:hover {
		background: darken($background-color, 5%);
	}
}

.post-content {
	p, span, div {
		font-family: $content-font-family;
	}
}