html, body {
	margin: 0;
	padding: 0;
}

.wrapper {
	margin: 0 auto;
	padding-left: $space-unit/2;
	padding-right: $space-unit/2;
	max-width: 1000px;
}

body > header {
	background: $header-background-color;
	box-shadow: 0 0 5px transparentize(black, 0.9);

	.wrapper {
		padding-top: $space-unit/2;
		padding-bottom: $space-unit/2;

		display: flex;
		justify-content: space-between;
	}

	.site-title {
		display: flex;
		align-items: center;
		color: $text-color;
		padding: 0;

		transition-property: color;
		transition-duration: .1s;

		.site-title-text {
			display: flex;
			flex-direction: column;

			small {
				font-size: 60%;
			}
		}
	}

	.site-title:hover {
		background: none;
		color: $primary-color;
	}
}

.content {
	padding: $space-unit 0 0 0;
}

ul.semester {
	list-style: none;
	padding: 0;
	margin: 0;

	li {
		display: inline-block;

		border: 2px solid transparentize($primary-color, 0.7);
		border-radius: 7px;

		transition-property: border;
		transition-duration: 0.2s;

		a {
			display: inline-block;
			color: $text-color;
			padding: $space-unit/2;

			&:hover {
				background: none;
			}
		}

		&:hover {
			border: 2px solid transparentize($primary-color, 0.2);
		}
	}
}